[Unit]
Description=PulseAudio Hotkey Switcher

[Service]
ExecStart=/home/$HOME/.nvm/versions/node/v12.22.1/bin/node /home/$HOME/dev/tools/audio-switcher/index.js
WorkingDirectory=/home/$HOME/dev/tools/audio-switcher

[Install]
WantedBy=default.target

[Service]
# Sleep for 30 seconds before starting to prevent weird behavior
ExecStartPre=/bin/sleep 30
